<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
    p {
        color :  #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h5>등록하실 상품의 카테고리를 골라주세요.</h5>

    <form th:action="@{/items/new}"  method="get">
        <div>
            <a th:href="@{/items/new(type=specialty)}" th:text="|특산품|"></a>
        </div>
    </form>
    <form th:action="@{/items/new}" method="get">
        <div>
            <a th:href="@{/items/new(type=leisure)}" th:text="|레저|"></a>
        </div>
    </form>
    <form th:action="@{/items/new}" method="get">
        <div>
            <a th:href="@{/items/new(type=tradition)}" th:text="|문화|"></a>
        </div>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>