<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div class="category-container">
      <button class="btn btn-dark" th:onclick="|location.href='@{/items?category=book}'|">책</button>
      <button class="btn btn-dark" th:onclick="|location.href='@{/items?category=movie}'|">영화</button>
      <button class="btn btn-dark" th:onclick="|location.href='@{/items?category=lp}'|">음반</button>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>상품명</th>
        <th>가격</th>
        <th>재고수량</th>
        <th>판매자</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.stockQuantity}"></td>
        <td th:text="${item.seller}"></td>
        <td>
          <a href="#" th:if="${item.seller} == ${session.member.username}" th:href="@{/items/{id}/edit (id=${item.id})}"
             class="btn btn-primary" role="button">수정</a>
        </td>
        <td>
          <form th:method="post" th:action="@{/cart/{id} (id=${item.id}, page=${ph.page})}">
          <button>담기</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="paging-container text-center">
    <div class="paging">
      <div th:if="${ph.totalCnt == 0}" th:text="|물품이 없습니다.|"></div>
      <div th:if="${ph.totalCnt != 0} and ${ph.totalCnt != null}">
        <th:block th:if="${ph.showPrev}">
          <a th:href="@{/items(page=${ph.beginPage-1})}"><</a>
        </th:block>
        <th:block th:each="i: ${#numbers.sequence(ph.beginPage, ph.endPage)}">
          <a th:href="@{/items(page=${i})}" th:text="${i}"></a>
        </th:block>
        <th:block th:if="${ph.showNext}">
          <a th:href="@{/items(page=${ph.endPage+1})}">></a>
        </th:block>
      </div>
    </div>

  </div>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>

let msg ="[[${msg}]]";

if(msg == "CART_F"){
  alert("재고가 부족합니다.");
}
if(msg == "CART_P"){
  alert("장바구니에 저장되었습니다.");
}

</script>
</html>