<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action="@{/items/new}" th:object="${itemForm}" method="post">
        <div class="form-group">
            <label th:for="name">상품명</label>
            <input type="text" th:field="*{name}" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="price">가격</label>
            <input type="text" th:field="*{price}" class="form-control">
        </div>
        <div class="form-group">
            <label th:for="stockQuantity">수량</label>
            <input type="text" th:field="*{stockQuantity}" class="form-control">
        </div>
        <div th:if="${type} ==  'specialty'">
            <div class="form-group">
                <input type="hidden" name="type" value="specialty">
                <label th:for="origin">생산지</label>
                <input type="text" th:field="*{origin}" class="form-control"
                       >
            </div>
            <div class="form-group">
                <label th:for="prodGroup">생산단체</label>
                <input type="text" th:field="*{prodGroup}" class="form-control"
                       >
            </div>
        </div>
        <div th:if="${type} == 'tradition'">
            <div class="form-group">
                <input type="hidden" name="type" value="tradition">
                <label th:for="artist">아티스트</label>
                <input type="text" th:field="*{artist}" class="form-control"
                       >
            </div>
            <div class="form-group">
                <label th:for="기타">위치</label>
                <input type="text" th:field="*{location}" class="form-control"
                       >
            </div>
        </div>
        <div th:if="${type} == 'leisure'">
            <div class="form-group">
                <input type="hidden" name="type" value="leisure">
                <label th:for="location">장소</label>
                <input type="text" th:field="*{location}" class="form-control"
                       >
            </div>
            <div class="form-group">
                <label th:for="time">소요시간</label>
                <input type="text" th:field="*{time}" class="form-control"
                       >
            </div>
        </div>
<!--        <button type="submit" class="btn btn-primary" th:onclick="@{/order/{itemId} (itemId=${param.itemId})}">주문하기</button>-->
        <a type="submit" id="cart" class="btn btn-primary" th:href="'javascript:cart('+${itemId}+')'">장바구니</a>
    </form>
    <br/>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
    function cart(id) {
        let form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/cart/" + id);
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>